<div id="page-content-wrapper">
    <div style="float:left" class="col-lg-6">
        <span href="#menu-toggle" class="glyphicon glyphicon-menu-hamburger" id="menu-toggle"></span>
        <p> {{searchBox}}</p>
    </div>
    <search (searchBox)="keyup($event)">

    </search>

    <container></container>



    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
</div>