<div class="container-fluid">
    <div class="navbar-header" style="padding-bottom: 10px; padding-right:30px;">
        <button routerLink="/" type="button" class="btn btn-default navbar-btn pull-left">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
    </div>
</div>

<div class="well" *ngIf="post">

    <div class="panel-body">
        <h2>
            <a href="" class="noneunderline">{{post.title}}</a>
        </h2>
        <p class="lead">
            by <a class="noneunderline" href="">Start Bootstrap</a>
        </p>
        <!--tags-->
        <div>
            <ul class="tags">
                <li><a href="#" class="tag">HTML</a></li>
                <li><a href="#" class="tag">CSS</a></li>
                <li><a href="#" class="tag">JavaScript</a></li>
            </ul>
        </div>
        <p><span class="glyphicon glyphicon-calendar"></span> Posted on August 28, 2013 at 10:00 PM</p>
        <hr>
        <img class="img-responsive" src="http://placehold.it/900x300" alt="">
        <hr>
        <p>{{post.body}}</p>
        <hr>
        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
    </div>
</div>
<div class="well" style="background-color:white;">
    <disqus-thread [page-identifier]="'1'" [page-url]="'http://localhost:3000'"></disqus-thread>
</div>