<div id="sidebar-wrapper">
    <div class="swing">
        <div class="logo">
            <img src="/images/undo.jpg" class="img-responsive center-block" alt="Logo">
        </div>
    </div>
    <br>
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">Abdurrahman Kolsuz</a>
        </li>
        <li>
            <a href="/">Blog</a>
        </li>
        <li>
            <a href="/categories">Categories</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>

        <li>
            <a href="mailto:abdurrahmankolsuz@gmail.com">Contact</a>
        </li>

    </ul>
    <br>
    <social></social>

</div>