<div class="container-fluid">
    <div class="navbar-header" style="padding-bottom: 10px; padding-right:30px;">
        <button routerLink="/" type="button" class="btn btn-default navbar-btn pull-left">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
    </div>
</div>

<div class="well">
    <h4>Blog Categories</h4>
    <hr>
    <div class="row">
        <div class="col-lg-6">
            <div class="list-group" *ngFor="let tag of tags">
                <a [routerLink]="tag.slug" class="list-group-item">{{tag.name}}</a>
            </div>
        </div>
    </div>
</div>