<div class="container-fluid">
    <div class="navbar-header" style="padding-bottom: 10px; padding-right:30px;">
        <button routerLink="/" type="button" class="btn btn-default navbar-btn pull-left">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
    </div>
</div>
<!--<div class="well" >-->
<div class="panel-body" *ngIf="post">
    <h2>
        <a [routerLink]="['../',post.slug]" class="noneunderline">{{post.title}}</a>
    </h2>
    <p><span class="glyphicon glyphicon-calendar"></span> Posted on {{post.created_date | date:'fullDate'}}</p>
    <div>
        <ul class="tags" *ngFor="let tag of post.tags" style="display: inline">
            <li><a [routerLink]="['../tags',tag]" routerLinkActive="active" class="tag">{{tag}}</a></li>
        </ul>
    </div>
    <br>
    <hr>
    <div class="well" style="background-color:white;" [innerHTML]="post.content"></div>
    <hr>
    <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
</div>
<!--</div>-->
<div class="well" style="background-color:white;">
    <disqus-thread [page-identifier]="'post.slug'" [page-url]="'http://localhost:3000'"></disqus-thread>
</div>