<!--<input type="text" #searchBox (keyup)="0" placeholder="Search to type">-->
<div class="row">
    <div style="float:left" class="col-lg-6">
        <span href="#menu-toggle" class="glyphicon glyphicon-menu-hamburger" id="menu-toggle"></span>
    </div>
    <div style="float:right" class="col-lg-4">
        <form action="" class="search-form">
            <div class="form-group has-feedback">
                <label for="search" class="sr-only">Search</label>
                <input #searchBox (keyup)="0" type="text" class="form-control" name="search" id="search" placeholder="e.g. software..">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </form>
    </div>
</div>
<div *ngFor="let post of posts | FilterPipe:searchBox.value">
    <h2>
        <a class="noneunderline" [routerLink]="post.slug" routerLinkActive="active">{{post.title}}</a>
    </h2>
    <p><span class="glyphicon glyphicon-calendar"></span> Posted on {{post.created_date | date:'fullDate'}}</p>
    <div>
        <ul class="tags" *ngFor="let tag of post.tags" style="display: inline">
            <li><a [routerLink]="['tags', tag]" routerLinkActive="active" class="tag">{{tag}}</a></li>
        </ul>
    </div>
    <br>
    <hr>
    <p>{{post.short_content}}</p>
    <a class="btn btn-default" [routerLink]="post.slug" routerLinkActive="active">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

    <hr>

</div>