<div class="container-fluid">
    <div class="navbar-header" style="padding-bottom: 10px; padding-right:30px;">
        <button routerLink="/" type="button" class="btn btn-default navbar-btn pull-left">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
    </div>
</div>

<div class="well" *ngIf="post">

    <div class="panel-body">
        <h2>
            <a href="" class="noneunderline">{{post.title}}</a>
        </h2>
        <!--<p class="lead">
            by <a class="noneunderline" href="">Start Bootstrap</a>
        </p>-->
        <!--tags-->
        <p><span class="glyphicon glyphicon-calendar"></span> Posted on {{post.created_date | date:'fullDate'}}</p>
        <div>
            <ul class="tags" *ngFor="let tag of post.tags" style="display: inline">
                <li><a href="#" class="tag">{{tag}}</a></li>
            </ul>
        </div>
        <br>


        <hr>
        <p [innerHTML]="post.content"></p>
        <hr>
        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
    </div>
</div>
<div class="well" style="background-color:white;">
    <disqus-thread [page-identifier]="'post.slug'" [page-url]="'http://localhost:3000'"></disqus-thread>
</div>